@import "src/app/styles/mixins"

.page

  &__container
    display: flex

.table
  background: $c-gray-dark
  padding: 25px
  width: 100%
  display: grid
  grid-template-columns: repeat(auto-fit, 200px)
  gap: 10px
