<gp-page>
  <div class="page__container">
    <gp-side-bar [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Поиск по названию</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Авторы</mat-label>
        <mat-select formControlName="author" multiple>
          <mat-option  *ngFor="let author of authors" [value]="author.name">{{author.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Язык</mat-label>
        <mat-select formControlName="lang" multiple>
          <mat-option *ngFor="let lang of langs" [value]="lang.lang">{{lang.lang}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Жанр</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre.genre">
            {{genre.genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>От</mat-label>
          <input formControlName="from" type="number" min="0" max="10000" minlength="1" maxlength="5" matInput
                 pattern="^[1-9][0-9]{4,}$" placeholder="0" value="0">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>До</mat-label>
          <input formControlName="to" min="10" max="10000" type="number" minlength="1" maxlength="5" matInput
                 pattern="^[1-9][0-9]{4,}$" placeholder="10000" value="10000">
        </mat-form-field>
      </div>

      <div class="button__container">
        <button (click)="openBookModal()">
          Добавить книгу
        </button>
        <button (click)="openAuthorModal()">
          Добавить автора
        </button>
      </div>


    </gp-side-bar>

    <div class="table">
      <gp-card [book]="book" *ngFor="let book of (books$ | async)"></gp-card>
    </div>
  </div>
</gp-page>

