<gp-modal-header title="Добавление книги"></gp-modal-header>
<gp-modal-body class="modal__body" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Название</mat-label>
    <input formControlName="name" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Автор</mat-label>
    <mat-select formControlName="author">
      <mat-option *ngFor="let author of authors$ | async" [value]="author.name">{{author.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea formControlName="name" matInput></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Язык</mat-label>
    <mat-select formControlName="lang">
      <mat-option *ngFor="let lang of langs" [value]="lang.lang">{{lang.lang}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Число страниц</mat-label>
    <input type="number" formControlName="pageCount" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Жанр</mat-label>
    <mat-select formControlName="genre">
      <mat-option *ngFor="let genre of genres" [value]="genre.genre">
        {{genre.genre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="button-submit" [disabled]="form.invalid" (click)="submit()">
    Сохранить
  </button>
</gp-modal-body>
